# Distribution / packaging
*.egg-info/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# virtualenv
.venv

# Generated checkpoints
docs/4gen_ai/llm_ai_act_finetuned/
